<form>
  <div class="form" style="margin:40px 80px;">
    <h2>Submit the Form Below to Start a Campaign</h2>
    <div class="row justify-content-start" style="margin-top: 25px">
      <div class="form-group col-md-4">
        <label>First Name</label>
        <input type="firstName" class="form-control" required [(ngModel)]="inputFirstName" name="firstName">
      </div>
      <div class="form-group col-md-4">
        <label for="inputLastName">Last Name</label>
        <input type="lastName" class="form-control" id="lastName" required [(ngModel)]="inputLastName" name="lastName">
      </div>
    </div>
    <div class="row justify-content-start">
      <div class="form-group col-md-4">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="email" placeholder="example@domain.com" required
          [(ngModel)]="inputEmail" name="email">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPhone">Phone</label>
        <input type="phone" class="form-control" id="phone" placeholder="(111)-222-3333" required
          [(ngModel)]="inputPhone" name="phone">
      </div>
    </div>
    <div class="row justify-content-start">
      <div class="form-group col-md-9">
        <label for="inputAddress">Address</label>
        <input type="address" class="form-control" id="address" placeholder="1234 Main St" required
          [(ngModel)]="inputAddress" name="address">
      </div>
    </div>
    <div class="row justify-content-start">
      <div class="form-group col-md-4">
        <label for="inputCity">City</label>
        <input type="city" class="form-control" id="city" placeholder="Gotham" required [(ngModel)]="inputCity"
          name="city">
      </div>
      <div class="form-group col-md-3">
        <label for="inputProvince">Province/Territory</label>
        <select id="inputProvince" class="form-control">
          <option selected>Choose...</option>
          <option *ngFor="let provs of provinces" class="dropdown-item"> {{provs}} </option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="zip" class="form-control" id="zip" placeholder="A1A 1A1" required [(ngModel)]="inputZip"
          name="zip">
      </div>
    </div>
    <div class="row justify-content-start">
      <div class="form-group col-md-5">
        <label for="inputApplianceType">Appliance Type</label>
        <select id="inputApplianceType" class="form-control">
          <option selected>Choose...</option>
          <option *ngFor="let apple of appliances" class="dropdown-item"> {{apple}} </option>
        </select>
      </div>
    </div>
    <div class="row justify-content-start">
      <div class="form-group col-md-9">
        <label for="inputComment">Comments</label>
        <textarea class="form-control" id="inputComment" rows="3" required [(ngModel)]="inputComment"
          name="comment"></textarea>
      </div>
    </div>
    <button type="button" class="btn btn-primary" style="" routerLink="../donation" (click)="model()">Post</button>
  </div>
</form>